# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Node
node_modules/
playwright-report/
test-results/

# OS / editor
.DS_Store
.vscode/


# Python
.venv/
__pycache__/
.pytest_cache/

# Node
node_modules/
playwright-report/
test-results/

# Playwright traces
*.zip

# VSCode
.vscode/

# OS
.DS_Store